/* 
 * Color scheme:
 * #FDF2E7 - Champagne
 * #FEE900 - Yellow
 * #04D3BC - Teal Green
 * #FECCC8 - Rose Quartz
 */

* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, p {
	margin: 10px 0;
}

h1{
	color:#04D3BC;
	text-align: center;
	font-variant: small-caps;
}

img {
	display: block;
	border-radius: 20px;
}

label{
	display: inline-block;
	width: 38%;
	text-align: right;
}
input.field{
	width: 58%;
}
input[type='button'] {
	display: block;
	min-width: 100px;
	background-color: #04D3BC;
	padding: 8px 15px 10px 15px;
	margin: 10px auto;
	border-radius: 10px;
	border: none;
	color: white;
}
input[type='button']:hover{
	color: #FEE900;
}
input[type='button']:active{
	background-color: #008676;
}
input[type='button']:disabled{
	background-color: #a5a5a5;
	color: #d2d2d2;
}
input[type='button'].plus-button{
	min-width: 50px;
	margin: 10px;
}

.add-flex{
	display: flex;
}
.flex-grow{
	flex-grow: 1;
}
.add-margin{
	margin: 10px;
}
.centre-vertically {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.background-graphic {
	width: 100%;
	height: 100vh;
	background-image: url('../../assets/background-image.png');
	background-repeat: none;
	background-size: cover;
}

.white-overlay {
	width: 60vw;
	height: 80vh;
	max-width: 1080px;
	margin: auto;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	overflow: auto;
}

.subtitle {
	color: #fb857d;
	font-weight: 700;
	text-align: center;
	font-variant: small-caps;
}