.login-overlay{
	padding-top: 10vh;
}

.login-image {
	display: block;
	max-height: 600px;
	max-width: 500px;
	margin: auto;
}

.login-form {
	min-width: 40%;
	padding: 0 5%;
}

.login-inputs{
	margin-bottom: 25%;
}

.sign-up-text {
	text-align: center;
}
.sign-up-text > span {
	color: #fb857d;
	font-weight: 700;
	text-decoration: underline;
}
.sign-up-text > span:hover {
	color: #FECCC8;
	cursor: pointer;
}

@media screen and (max-width: 1500px) {
	.login-image-div {
		display: none;
	}
}